

.rabbit{
    font-size: 100px ;
   
    /* animation : 3s fillsvg linear; */
     fill: black;
         stroke: #000;
    stroke-width: 5;  
    stroke-dasharray: 1983;
     animation: fillsvg 10s linear;
}

@keyframes fillsvg{
    0%{
        stroke-dashoffset: 1937;
    }
    100%{
        stroke-dashoffset: 0;
    }
}
.star{
    font-size: 100px;
    fill: black;
    stroke: #000;
stroke-width: 1;  
stroke-dasharray: 114;
animation: fillsvgstar 10s linear;
}
@keyframes fillsvgstar{
    0%{
        stroke-dashoffset: 114;
    }
    100%{
        stroke-dashoffset: 0;
    }
}
