@keyframes fillsvgpanda {
  0% {
    stroke-dashoffset: 263;
  }
  50% {
    stroke-dashoffset: 0;
    fill: black;
  }
  100% {
    stroke-dashoffset: 263;
  }
}

@keyframes fillsvg {
  0% {
    stroke-dashoffset: 1937;
  }
  50% {
    stroke-dashoffset: 0;
    fill: black;
  }
  100% {
    stroke-dashoffset: 1937;
  }
}

@keyframes fillsvgstar {
  0% {
    stroke-dashoffset: 114;
  }
  50% {
    stroke-dashoffset: 0;
    fill: gold;
  }
  100% {
    stroke-dashoffset: 114;
  }
}
@keyframes fillsvgstar {
  0% {
    stroke-dashoffset: 114;
  }
  50% {
    stroke-dashoffset: 0;
    fill: gold;
  }
  100% {
    stroke-dashoffset: 114;
  }
}
.rabbit {
  font-size: 100px;
  /* animation : 3s fillsvg linear; */
  fill: transparent;
  stroke: black;
  stroke-width: 4;
  stroke-dasharray: 1983;
  animation: fillsvg 20s linear infinite;
}

.star {
  font-size: 100px;
  fill: transparent;
  stroke: #000;
  stroke-width: 0.5;
  stroke-dasharray: 114;
  animation: fillsvgstar 20s backwards infinite;
}

.panda,
.helicop {
  font-size: 80px;
  fill: transparent;
  stroke: #000;
  stroke-width: 0.5;
  stroke-dasharray: 263;
  animation: fillsvgpanda 20s linear infinite;
}

.alarm {
  font-size: 100px;
  fill: transparent;
  stroke: #000;
  stroke-width: 0.5;
  stroke-dasharray: 1489;
  animation: fillsvgalarm 20s backwards infinite;
}
